body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

.invisible {
    visibility: hidden;
}

.agentReference {
    font-size: 1rem;
    color: #808080;
}

.descriptionTitle {
    font-size: 2rem;
}

.description {
    font-size: 1rem;
}

.cardImg {
    height: 261px;
    object-fit: cover;
}
